html,
body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

canvas {
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url('../assets/font/Carnevalee Freakshow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}